# Virtual environment
venv/
.env/

# Byte-compiled Python files
*.pyc
__pycache__/

# Environment variables file
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
 
# *.png
# *.jfif
# *.webp
*.pth
# images/*
# YOLO/runs/

